<div class="container">
    <div class="card">
    <div class="labelsName">
    
        <label  id="labelName">NGO-Name:</label>
       {{labels[0]}}
    </div>

    <div class="valueNum">
        <label id="valueNum">Value:</label>
       {{values[0]}}
    </div>
</div>

<div class="card">
    <div class="labelsName">
    
        <label  id="labelName">NGO-Name:</label>
       {{labels[1]}}
    </div>

    <div class="valueNum">
        <label id="valueNum">Value:</label>
       {{values[1]}}
    </div>
</div>

<div class="card">
    <div class="labelsName">
    
        <label  id="labelName">NGO-Name:</label>
       {{labels[2]}}
    </div>

    <div class="valueNum">
        <label id="valueNum">Value:</label>
       {{values[2]}}
    </div>
</div>





